<div class="flex items-center gap-2">
  <img src="<%= field.gravatar_url(size: 32) %>"
       alt="<%= field.value %>"
       class="rounded-full"
       width="32"
       height="32" />
  <%= field.value %>
</div>
