<div class="flex items-center gap-3">
  <img src="<%= field.gravatar_url(size: 80) %>"
       alt="<%= field.value %>"
       class="rounded-full"
       width="80"
       height="80" />
  <span class="text-lg"><%= field.value %></span>
</div>
